{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Trending Trips</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/draw/vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap" rel="stylesheet">
    <style type="text/css">
    </style>

</head>
<body style="background:#006B8F;">
    <div id="summarytitle" class="container-fluid"> Trending Trips </div>
    <div id="rowbox" class="container-fluid"> 
        <div id="row1" class="container-fluid row">
            <div class="col" id="locationtext">
                <div id="eventRanked1" class = "mainText"> </div>
                <br> 
                <div id="eventRanked2" class = "mainText"> </div>
                <br>
                <div class="mainText">3. LA County Museum of Art (Likes: 1, Dislikes: 0)</div>
                <br>
                <div class="mainText">4. The Getty (Likes: 1, Dislikes: 1)</div>
            </div>
            <div class="col" id="map">
            <img src="https://i.ibb.co/Rcm9pjt/Screen-Shot-2021-07-23-at-10-09-35-AM.png" alt="Screen-Shot-2021-07-23-at-10-09-35-AM">
            </div>
        </div>  
    </div>
</body>
<script>

        
    var event1 = {
        likes:0,
        dislikes:0,
        tripName:"Manhattan Beach"
    };

    var event2 = {
        likes:3,
        dislikes:1,
        tripName:'Venice Beach'
    };

    document.getElementById("eventRanked1").innerHTML = "1. " + event1.tripName + " (Likes: " + event1.likes + ", Dislikes: " + event1.dislikes + ")";
    document.getElementById("eventRanked2").innerHTML = "2. " + event2.tripName + " (Likes: " + event2.likes + ", Dislikes: " + event2.dislikes+ ")";


    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log(received);
        //console.log("Received: " + JSON.stringify(received));
        // You will probably want to add some code here to draw more lines.
        if (url === "http://127.0.0.1:8000/draw/?size=large") {
            var point0 = new paper.Point(received.prevX, received.prevY);
            var point1 = new paper.Point(received.x, received.y);
            var path2 = new paper.Path();
            path2.strokeColor = new paper.Color(received.red, received.green, received.blue);
            path2.add(point0);
            path2.add(point1);
        }
        if (url === "http://127.0.0.1:8000/draw/index") {
            if (event1.tripName === received.tripName) {
                event1.likes += received.likes;
                event1.dislikes += received.dislikes;
            } else {
                event2.likes += received.likes;
                event2.dislikes += received.dislikes;
            }
            if (event2.likes - event2.dislikes >= event1.likes - event1.dislikes) {
                temp = {...event1};
                event1 = {likes:event2.likes, dislikes:event2.dislikes, tripName:event2.tripName};
                event2 = {likes:temp.likes, dislikes:temp.dislikes, tripName:temp.tripName};

            }
        }
        document.getElementById("eventRanked1").innerHTML = "Top Rated Trip: " + event1.tripName + ", Likes: " + event1.likes + ", Dislikes: " + event1.dislikes;
        document.getElementById("eventRanked2").innerHTML = "Top Rated Trip: " + event2.tripName + ", Likes: " + event2.likes + ", Dislikes: " + event2.dislikes;

    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
<style type="text/css">

    #summarytitle {
        margin-top: 10%;
        text-align: center;
        font-family: Raleway;
        font-size: 100px;
        font-weight: 600;
        color: white;
    }
    .mainText {
        text-align: left;
        font-family: Raleway;
        font-size: 30px;
        color: white;
        font-weight: 600;
    }
    #row1 {
        border: solid rgb(192, 201, 216, .5) 10px;
        background-color: rgb(192, 201, 216, .5);
        border-radius: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }

    #rowbox {
        justify-content: center;
        padding-left: 40px;

    }
</style>
</html>
