{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Trending Trips</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <style type="text/css">
    </style>

</head>
<body>
    <div> Trending Trips </div>
    <div> Destination: Manhattan Beach</div>
    <div> 
        <p> Did you enjoy the trip? </p>
        <button id="like" onclick="likeFunc()"> Like </button>
        <button id="dislike" onclick="dislikeFunc()"> Dislike </button>
    </div>
</body>
<script>

    
    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    tool.onMouseMove = function(event) { //http://paperjs.org/reference/tool/ path examples
       

        // You may need to add code here if you want to pass any other information.
       socket.send("{\"x\" : " + event.point.x + 
                    ", \"y\" : " + event.point.y + 
                    ", \"uid\" : " + uid + 
                    ", \"red\" : " + red +
                    ", \"green\" : " + green +
                    ", \"blue\" : " + blue +
                    ", \"prevX\" : " + prevPoint.x +
                    ", \"prevY\" : " + prevPoint.y +
                    "}" );
       //socket.send([event.point.x + event.point.y]);
    }

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log(received);
        //console.log("Received: " + JSON.stringify(received));
        // You will probably want to add some code here to draw more lines.
        if (url === "http://127.0.0.1:8000/draw/?size=large") {
            
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
<script type="text/javascript">
    var canvas = document.getElementById('myCanvas');
        // zoom in and out are working
    function likeFunc() {
        
    }

    function dislikeFunc() {

    }
        
</script>
</html>
