{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Trip Summary</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <style type="text/css">
    </style>

</head>
<body>
    <div> Trip Summary </div>
    <div> Destination: Manhattan Beach</div>
    <div>
        <p> Did you enjoy the trip? </p>
        <button id="like" onclick="likeFunc()"> Like </button>
        <button id="dislike" onclick="dislikeFunc()"> Dislike </button>
    </div>
</body>
<script type="text/javascript">
    var likes = 0;
    var dislikes = 0;
    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    function likeFunc() {
        likes = 1;
        dislikes = 0;
        socket.send("{\"likes\" : " + likes +
                    ", \"dislikes\" : " + dislikes +
                    "}" );
    }

    function dislikeFunc() {
        likes = 0;
        dislikes = 1;
        socket.send("{\"likes\" : " + likes +
                    ", \"dislikes\" : " + dislikes +
                    "}" );
    }

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log(received);
        if (url === "http://127.0.0.1:8000/draw/?size=large") {

        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
